*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.star {
    margin: 15px;
}

.color-darkgray i{
    color: #2c3e50;
}

.bg-green {
    color: white;
    background-color: #1abc9c;
}

.bg-darkgray {
    background-color: #2c3e50;
}
/* fine common */
#container-nav {
    width: 80%;
}
/* header */
/* fine header */

/* main */
/* section jumbo */
#jumbo-img img {
    margin-top: 100px;
    height: 200px;
}

#jumbo-text {
    width: 100%; 
}
/* fine section jumbo */
/* section portfolio */
.ms_portfolio-item img{
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px;
}
/* fine section portfolio */
/* section about */
.about .download {
    margin-top: 15px;
}
/* fine section about */
/* section contact me */
.contact-me {
    height: 400px;
}

.input {
    height: 80px;
}
/* fine section contact me */
/* fine main */

/* footer */
footer {
    color: white;
}

.footer-top {
    background-color: #3a546d;
}

.footer-bottom {
    height: 100px;
}

.footer-text{
    height: 200px;
}
/* fine footer */
/* media query */
@media (max-width: 767px) {
    #container-nav {
        width: 100%;
    }
}

@media (min-width: 768px) {
    #container-nav {
        width: 80%;
    }
}

@media (min-width: 992px) {
    #container-nav {
        width: 70%;
    }
}
/* debug */
.debug .container {
    height: 100%;
}

.debug .row {
    height: 100%;
}

.debug #logo {
    background-color: red;
}

.debug #nav-link {
    background-color: yellow; 
}

.debug #jumbo-img {
    background-color:black;
}

.debug #title {
    background-color: blue;
}

.debug #star {
    background-color: purple;
}

.debug #jumbo-text {
    background-color: green;
}

.debug #square1 {
    background-color: #ba4b63;
}

.debug #square2 {
    background-color: #1ea4b6;
}

.debug #square3 {
    background-color: #140f0f;
}

.debug #square4 {
    background-color: #1c83c1;
}

.debug #square5 {
    background-color: #0e38b5;
}

.debug #square6 {
    background-color: #ccb2a3;
}

.debug .about p {
    background-color: darkorange;
}

.debug .contact-me {
    background: lightpink;
}

.debug .footer-text {
    background-color: darkturquoise;
}